* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
header {
  justify-content: space-between;
}
/* article{
  background-image: url(/LeoKayProject_FE-1/img_main.jpg);
} */
body {
  background-image: url(/LeoKayProject_FE-1-Lien/LeoKayProject_FE-1/img/img_main.jpg);
  background-size: 130%;

  background-repeat: no-repeat;
}
nav.mainclass{
  margin-top: 40%;
}
.imghome {
  width: 300px;
  height: 300px;
  float: right;
  margin-top: 19%;
  margin-right: 10%;
}
.navbar-brand {
  font-size: 18px;
  padding-left: 3%;
}
.nav-link {
  font-size: 20px;
}
.navbar-toggler {
  text-align: center;
}

.button1 {
  margin: auto;
}
#navbarNavAltMarkup {
  margin-left: 45%;
}
.col-5 {
  margin-top: 60%;
}
.container {
  margin-top: 1%;
}
.col-3 {
  font-size: 40px;
  padding-top: 40px;
}
.col-9 img {
  height: 250px;
}
.container-fluid img {
  margin-left: 6%;
}
#navcode {
  padding: 0 20px;
  font-size: 13px;
}
.navbar-brand {
  font-size: 18px;
  padding-left: 3%;
}
.nav-link {
  font-size: 20px;
}
.navbar-toggler {
  text-align: center;
}

.button1 {
  margin: auto;
}
#navbarNavAltMarkup {
  margin-left: 45%;
}

.container {
  width: 100%;
  padding: 5% 0;
  transition: 0.3s;
}
.container:hover {
  text-decoration: underline;
}
.mainclass {
  margin-top: 40%;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#navcode {
  padding: 0 20px;
  font-size: 13px;
}
.container-fluid img {
  margin-left: 6%;
}
#navcode:hover {
  text-decoration: underline;
}
.img_main {
  width: 25%;
  float: right;
  margin-top: 15%;
  background-color: black;
  margin-right: 4%;
}

.div2 {
  margin-top: 50%;
}
.container {
  width: 100%;
  padding: 5% 0;
  transition: 0.3s;
}
.container:hover {
  text-decoration: underline;
}
.col-3 {
  font-size: 40px;
  padding-top: 40px;
}
.col-9 img {
  height: 250px;
}

.col-12 {
  margin-top: 40%;
}
.container-fluid img {
  margin-left: 6%;
}
#navcode {
  padding: 0 20px;
  font-size: 13px;
}

/* footer */
.facebook-icon {
  color: rgb(37, 37, 91);
  font-size: 30px;
  border-radius: 4px;
  transition: 0.3s;
}

.instagram-icon {
  color: rgb(168, 50, 101);
  font-size: 30px;
  border-radius: 4px;
  transition: 0.3s;
}

.twitter-icon {
  color: #1da1f2;
  font-size: 30px;
  border-radius: 4px;
  transition: 0.3s;
}
.facebook-icon:hover {
  color: #1da1f2;
}
.instagram-icon:hover {
  color: rgb(227, 83, 146);
}
.twitter-icon:hover {
  color: #266790;
}

.nd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.conect {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.conect h2 {
  margin: 0;
  margin-right: 10px;
  color: #ffffff;
  font-size: 20px;
}

.img_2 {
  margin-right: 10px;
}

.social-icon {
  list-style: none;
  padding-top: 1%;
  display: flex;
}

.social-icon li {
  margin-right: 10px;
}

.social-icon li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.social-icon li a:hover {
  color: #fffefe;
}
footer {
  width: 100%;
  position: fixed;
  clear: both;
  left: 0;
  bottom: 0;
  background-color: black;
}
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1920px){
 
  .mainclass{
    margin-top: 60%;
  }
  
}
@media screen and (max-width: 1600px){
 
  .mainclass{
    margin-top: 40%;
  }
  
}
@media screen and (max-width: 1680px){
 
  .mainclass{
    margin-top: 50%;
  }
  
}
@media screen and (max-width: 375px){
 
  .mainclass{
    margin-top: 40%;
  }
  strong.hhh{
    font-size: 10px;
  }
  
}
@media screen and (max-width: 480px){
  .navbar-nav{
    text-align: center;
    margin-right: 50%;
  }
  
  .container{
  width:100% ;
  padding: 4% 0 ;
  transition: .3s;
  
  margin-left: 5%;
  
  }
  .container:hover{
    text-decoration: underline;
   
  }
  .col-3{
    font-size: 28px;
    padding-top: 3%;

  }
  .col-9 img{
    height: 150px;
    width: 100%;
  } 
  .container-fluid img{
    margin-left: 6%;
  }
  #navcode{
    padding: 0 20px;
    font-size: 13px;
  }
 
 
  
}



